:root {
    --blue: #0075c3;
    --orange:#F68712;
    --whitesmoke: whitesmoke;
  }

.planner_container{
    display: flex;
    flex-direction: column;
}
.planner_main_left_panel{
    width: 55%;
}

.planner_main_header{
    margin: 0;
    top: 0;
    width: 55%;
    position: fixed;
    display: flex;
    box-shadow: 0px 2px 4px grey; 
    background-color: white;
}

.planner_header_left_arrow_icon{
    padding: 0em 0.5em 0em 1em ;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5em;
}

.planner_header_left_logo{
    padding: 0.4em;
}

.planner_main_section_container{
    margin-top: 5em;
}
.planner_section_heading{
    padding: 10px 20px;
}
.planner_section_heading > p{
    color: grey;
}

.planner_section_cards{
    display: flex;
    border: 1px solid grey;
    border-radius: 20px;
    margin: 20px;
}

.planner_s_c_d_heading{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.planner_section_cards_image {
    border-radius: 20px 0px 0px 20px;
    width: 150px;
    height: auto;
    object-fit: cover;
}

.planner_section_cards_description{
    padding: 10px 15px;
}


.planner_checkbox{
    width: 25px;
    height: 25px;
}

.planner_s_c_d_para > p{
   
}

.planner_s_c_d_utilities > p{
    color: grey;
    margin-top: 2em;
    margin-bottom: 0;
    padding-bottom: 0;
}

/* Right Panel */
.planner_main_right_panel{
    /* width: 45%; */
    /* display: flex; */
    /* flex-direction: column; */
   margin: 20px;
   padding: 20px;

   position: fixed;
   top: 0;
   left: 55%;
    
}

.google_navigation_div{
    padding: 0px 20px;
}