
.footer_image img{
    width: 100%;
}



footer{
    background-color: #0075C3;
    height: 100%;
    padding: 25px;
    display: flex;
    
}
.footer_info{
    padding: 25px;
}
.footer_list{
    list-style: none;
}
.footer_item a{
    text-decoration: none;
    color: whitesmoke;
    line-height: 50px;
    font-size: 1.5em;
    font-weight: 500;
}

.footer_gallery{
    
    margin-left:auto;
    padding-right: 70px;
}
.footer_gallery >img{
    padding: 15px;
}
.footer_gallery_images{
    display: grid;
    grid-template-columns: auto auto;
    grid-gap: 10px;
    padding: 10px;
}


@media screen and (max-width:975px) {
    .footer_gallery {
        
        width: 500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        padding-right: 0;
    }
    .footer_gallery_images {
      
        width: 500px;
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .footer_gallery > img{
        width: auto;
       
    }
    .footer_gallery_images > img{
        width: 150px;
        height: 100px;
    }
   
    
    
}
@media screen and (max-width:866px) {
    .footer_gallery { 
        width: 300px;
    }
    .footer_gallery_images {   
        width: 300px;
        padding-top: 0;
        padding: 0;
    }
    .footer_gallery > img{
        width: auto;
      
    }
    .footer_gallery_images > img:nth-child(1){
        
        width: 190px;
    
    }
    .footer_gallery_images > img:nth-child(2){
        
        width: 100px;
    
    }   
}

@media screen and (max-width:700px) {
   footer{
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
   }
   
}

